*.pyc
*.DS_Store
test.txt
prototypes/assembly.log
prototypes/contigs.txt
.gitignore
GeneQuesst.egg-info
prototypes/contig_data
prototypes/unit_testing.ipynb
prototypes/raw_alignment_data.csv
prototypes/analysis.ipynb
prototypes/unit_testing.ipynb
prototypes/test.png
prototypes/unit_testing.ipynb
prototypes